
    <section class="footer">
<div>

        <ul>

          <li><a href="/About">About</a></li>
          <li><a href="/connections">Connections</a></li>
          <li>	<a href="/newconnection">New Connections</a></li>



        </ul>

    </div>
    </section>
