

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="./../assets/stylesheets/index.css" rel="stylesheet" type="text/css">
    <title>About US</title>
    <%- include ('partials/header') %>
  </head>
  <body>

    <h1>About US</h1>
    <h2>We provide events solutions to creators</h2>

    <%- include ('partials/footer') %>

  </body>

</html>
