<!DOCTYPE html>
<html lang="en">

<link href="./../assets/stylesheets/index.css" rel="stylesheet" type="text/css">


<%- include ('partials/header') %>
<body>

    <div class="Hero">
        <h1>Charlotte Videographers And Photographers</h1>
        <a href="./connections" class="button4" style="background-color:green">See New Events Now!!</a>
    </div>

    <a href="/connections">
        <div class="row"></div>
        <div class="card">
            <img class="icon" src="./../assets/images/noun_counseling_2-2.png" alt="adfa">
            <h2>Events</h2>
            <p>See available events coming up next
             </p>
            </div>
    </a>
    <a href="/connections">
        <div class="card">
            <img class="icon" src="./../assets/images/icon2.png" " alt="adfa ">
        <h2>Connection</h2>
        <p> Check your connects</p>
    </div>
</a>
<a href="/savedConnections ">
    <div class="card ">
        <img class="icon " src="./../assets/images/icon3.png"  alt="adfa ">
        <h2>Saved Connections</h2>
        <p>See all saved Connections</p>
    </div>

</a>

</body>
<%- include ('partials/footer') %>
</html>
